/* div {
} */

/* form {
} */

.meme-text {
  font-family: "League Gothic", sans-serif;
  font-size: 3rem;
  -webkit-text-stroke: 2px black; /* width and color */
  /* font-color: white */
  /* font border color: black; */
  /* font border size */
  color: white;
  /* text-shadow: 5px 0.5rem 0.1rem black; */
  font-size: 3rem;
  text-align: center;
  width: 600px;
}

#meme-form input[type="text"] {
  margin-bottom: 10px;
  margin-left: 10px;
}

#meme-container {
  position: relative;
  width: 650px;
  /* display: flex;
  flex-direction: column; */
}

div.meme-content {
  position: relative;
  margin-top: 50px;
  max-width: 600px;
}

.meme-img {
  width: 100%;
  /* object-fit: contain; */
  position: relative;
  z-index: 0;
}

div.meme-text {
  z-index: 1;
  position: absolute;
}

div.meme-top-text {
  top: 1rem;
}

div.meme-bottom-text {
  bottom: 1rem;
}

div.meme-middle-text {
  position: absolute;
  bottom: 50%;
}

div.meme {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
}

.remove {
  position: absolute;
  z-index: 0;
  top: 0;
  right: -50px;
}
